:host {
  display:grid;
  min-height: calc(98vh - 10px);
  /** todo calculat based on columns */
  min-width: 400vw;
  overflow-y: scroll;
  grid-template-columns:  3rem repeat(auto-fill, 240px);
  gap: 12px;
  margin: 5px;
}

app-side-bar {
  position: sticky;
  left: 0;
}

button {
  width: 2.7rem;
  height:2.7rem;
}